body {
     font-family: Arial, sans-serif; 
     background: linear-gradient(135deg, #667eea 0%, #764ba2 100%); 
     color: white; 
     text-align: center; 
     padding: 50px; 
    }
    .container { 
        background: rgba(255,255,255,0.1); 
        padding: 40px; 
        border-radius: 20px; 
        max-width: 600px; 
        margin: auto; 
    } 
    .profile-pic { 
        width: 150px; 
        height: 150px;
         border-radius: 50%; 
         border: 4px solid white; 
        }
        
    /* PASTE TIC-TAC-TOE CODE HERE */ 
    .board { 
        display: grid; 
        grid-template-columns: repeat(3, 100px); 
        gap: 5px; 
        margin: 20px auto; 
        justify-content: center; 
    } 
    .cell {
        width: 1000px;
        height: 100px;
        background-color: #fff;
        border: 3px solid #0077ff;
        border-radius: 10px;
        display: flex;
        align-items: center; 
        font-size: 3.5rem; 
        font-weight: 900; 
        color: #000; /* make sure text is black */ 
        display: flex; 
        align-items: center; 
        justify-content: center; 
        cursor: pointer;
        transition: background 0.2; 
    }
    .cell:active {
        background: #d0e7ff;
    }
    